# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/

# Env
.env
!.env.example

# Database
*.db
*.sqlite3
chroma_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/

# Docker
tata_data/
redis_data/

# Logs
*.log
